@tailwind base;
@tailwind components;
@tailwind utilities;

/* -------------------- Fonts -------------------- */
@import url('https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.6/dist/web/static/pretendard.css');

@font-face {
  font-family: 'SF Mono Regular';
  font-style: normal;
  font-weight: normal;
  src: local('SF Mono Regular'), url('/src/assets/font/SFMono/SFMonoRegular.woff') format('woff');
}

@font-face {
  font-family: 'RidiBatang';
  font-weight: normal;
  font-style: normal;
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/ridi/RidiBatang.eot');
  src: url('https://cdn.jsdelivr.net/gh/webfontworld/ridi/RidiBatang.eot?#iefix') format('embedded-opentype'), url('https://cdn.jsdelivr.net/gh/webfontworld/ridi/RidiBatang.woff2') format('woff2'),
    url('https://cdn.jsdelivr.net/gh/webfontworld/ridi/RidiBatang.woff') format('woff'), url('https://cdn.jsdelivr.net/gh/webfontworld/ridi/RidiBatang.ttf') format('truetype');
  font-display: swap;
}

/* ---------- Main Font ---------- */
.ridi {
  font-family: 'RidiBatang', -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic', 'Apple Color Emoji',
    'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
/* ---------- Normal Font ---------- */
.basic {
  font-family: 'Apple SD Gothic Neo', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
}
/* ---------- Second Font ---------- */
.pretendard {
  font-family: 'Pretendard Variable', Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, 'Helvetica Neue', 'Segoe UI', 'Apple SD Gothic Neo', 'Noto Sans KR', 'Malgun Gothic',
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', sans-serif;
}
/* -------------------- Fonts -------------------- */

/* -------------------- Variables -------------------- */
:root {
  --yellow: #feca57;
  --navy: #341f97;
  --black: #222f3e;
  --primary: #ee5253;
  --secondary: #32d962;
  --error: #fa5c5c;
  --SUCCESS: #04cf52;
  --WARNING: #ffab49;
  --COLOR-BLG0: white;
  --BLG50: #f8f9fa;
  --BLG100: #f1f3f5;
  --BLG200: #e8ebed;
  --BLG300: #dee2e6;
  --BLG400: #c9cdd2;
  --BLG500: #9ea4aa;
  --BLG600: #72787f;
  --BLG700: #454c53;
  --BLG800: #26282b;
  --BLG900: #1b1d1f;
  --BLG1000: black;
}
/* -------------------- Variables -------------------- */

* {
  box-sizing: border-box;
}
html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: 'RidiBatang', -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  /* overflow-y: auto;
  overflow-x: hidden; */
  transition: background 0.3s ease;
}

/* ---------- Scrollbar Style ---------- */
/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 8px;
  transition: 0.3s ease;
}
/* Background Style */
*::-webkit-scrollbar-track {
  background: none;
}
/* Scrollbar Body Style */
*::-webkit-scrollbar-thumb {
  background-color: var(--BLG700);
}
.dark *::-webkit-scrollbar-thumb {
  background-color: var(--BLG600);
}
/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--BLG600) var(--BLG600);
}
/* ---------- Scrollbar Style ---------- */

.dark:is(html, body) {
  background-color: var(--BLG900);
}

.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fc {
  display: flex;
  align-items: center;
}
.fwb {
  font-weight: bold;
}

.transparent {
  opacity: 0 !important;
}

.ease {
  transition: 0.3s ease;
}

@keyframes spinnerVibe {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.LoadBackground {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.LoadWrap {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);

  z-index: 0;
}

.LoadBackground > .LoadWrap > .dot:nth-last-child(1) {
  animation: spinnerVibe 0.6s 0.1s linear infinite;
}
.LoadBackground > .LoadWrap > .dot:nth-last-child(2) {
  animation: spinnerVibe 0.6s 0.2s linear infinite;
}
.LoadBackground > .LoadWrap > .dot:nth-last-child(3) {
  animation: spinnerVibe 0.6s 0.3s linear infinite;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 0.2rem;
  border-radius: 15px;
}

.Logo {
  position: relative;
  display: inline-block;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
}

.Logo::after {
  content: '';
  position: absolute;
  bottom: 2px;
  right: -6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}

.tooltip {
  position: absolute;
  top: -38px;
  left: 43%;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 30px;
  transform: translateX(-50%);
  padding: 3px 8px;
  border-radius: 4px;
  z-index: 2;
}

.tooltip::after {
  content: '';
  position: absolute;
  width: 0;
  height: 0;
  border-bottom: 8px solid transparent;
  border-top: 8px solid transparent;
  border-width: 10px;
  border-style: solid;
  border-right: 10px solid transparent;
  left: 50%;
  top: 29px;
  transform: translateX(-50%) rotate(90deg);
  z-index: 0;
}

.SNSLink::after {
  content: '';
  position: absolute;
  bottom: 6px;
  right: 6px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  animation: blinkEffect 0.95s ease-in-out infinite alternate;
}

.sns-active::after {
  background-color: var(--SUCCESS);
}

.sns-warning::after {
  background-color: var(--WARNING);
}

@keyframes blinkEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.NavLink::after {
  content: '';
  position: absolute;
  left: 6px;
  bottom: 12px;
  width: 0;
  transition: 0.3s ease;
}

.NavLink.active::after {
  width: calc(100% - 8px);
}
.TagWrap::-webkit-scrollbar {
  display: none; /* Chrome, Safari, Opera*/
}
.TagWrap {
  overflow-x: auto;
  overflow-y: hidden;
  scroll-snap-type: none;
  height: 50px;
}
.TagItem {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 8px;
  position: relative;
  white-space: nowrap;
  user-select: none;
  cursor: pointer;
  transition: 0.2s ease;
}
.TagItem span {
  position: relative;
  top: 1px;
}

@keyframes slowUp {
  from {
    bottom: -20px;
  }
  to {
    bottom: -10px;
  }
}

.TagItem.TagActive::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: -10px;
  transform: translateX(-50%);
  height: 3px;
  width: 90%;
  transition: 0.3s ease;
  animation: slowUp 0.6s backwards;
}

@keyframes skeletonEffect {
  from {
    left: -100px;
  }
  to {
    left: calc(100% + 100px);
  }
}

.skeleton-bar {
  animation: skeletonEffect 1s infinite;
}

.utterances {
  margin: 0 !important;
  width: 100% !important;
  max-width: 100% !important;
}

.Toastify__toast-container--top-right {
  top: 4rem !important;
}
