@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 400;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 700;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.eot?#iefix') format('embedded-opentype'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebBold.ttf') format('truetype');
}

@font-face {
  font-family: 'NanumBarunGothic';
  font-style: normal;
  font-weight: 300;
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot');
  src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.eot?#iefix') format('embedded-opentype'),
    url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWebLight.ttf') format('truetype');
}

.nanum * {
  font-family: 'NanumBarunGothic', sans-serif;
}

* {
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  overflow-y: auto;
  overflow-x: hidden;
  transition: 0.3s ease;
}

.dark body {
  background-color: rgb(32, 32, 32);
}

.fcc {
  display: flex;
  justify-content: center;
  align-items: center;
}
.fc {
  display: flex;
  align-items: center;
}
.fwb {
  font-weight: bold;
}

.transparent {
  opacity: 0 !important;
}

@keyframes spinnerVibe {
  0% {
    transform: translate(0, 0);
  }
  50% {
    transform: translate(0, 15px);
  }
  100% {
    transform: translate(0, 0);
  }
}

.LoadBackground {
  opacity: 1;
  transition: opacity 0.6s ease;
}

.LoadWrap {
  position: absolute;
  top: 46%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 0;
}

.LoadBackground > .LoadWrap > .dot:nth-last-child(1) {
  animation: spinnerVibe 0.6s 0.1s linear infinite;
}
.LoadBackground > .LoadWrap > .dot:nth-last-child(2) {
  animation: spinnerVibe 0.6s 0.2s linear infinite;
}
.LoadBackground > .LoadWrap > .dot:nth-last-child(3) {
  animation: spinnerVibe 0.6s 0.3s linear infinite;
}

.dot {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin: 0 0.2rem;
  border-radius: 15px;
}

.Logo {
  position: relative;
  display: inline-block;
  font-size: 28px;
  font-style: italic;
  font-weight: bold;
  line-height: 1;
  white-space: nowrap;
  vertical-align: baseline;
}

.Logo::after {
  content: '';
  position: absolute;
  bottom: 2px;
  right: -6px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
}
