/* 노션 스타일 */
.notion-page-icon-hero.notion-page-icon-image .notion-page-icon {
  border-radius: 4rem;
}
.notion-h {
  span {
    display: flex;
    align-items: center;
    svg {
      &:hover {
        opacity: 0.7;
      }
    }
  }
}

.notion-aside {
  position: sticky;
  top: 50px;

  align-self: flex-start;
  flex: 1;

  flex-direction: column;
  align-items: center;

  width: 100%;
  min-width: 280px;
  max-width: 280px;
}

.notion-page-content-has-aside {
  gap: 1rem;
  width: 100%;
}

.notion-aside-table-of-contents-header {
  position: relative;
  display: block;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  padding: 4px 0;
  text-align: left;
  border-radius: 2px;
}

.notion-table-of-contents > a > span {
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-size: 16px;
}
.medium-zoom--opened {
  position: relative;
  overflow: hidden;
}

.notion-page-content {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.notion-collection-row-body {
  display: flex;
  flex-direction: column;
  gap: 4px;

  & > div {
    margin: 0;
  }
}

.notion-collection-row-property {
  display: flex;
  align-items: center;
}

.notion-collection-row-value {
  flex: 1;
  padding: 6px 8px 7px;
  font-size: 14px;
}

.notion-property-select-item,
.notion-property-multi_select-item {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 22px;
}

.notion-code {
  display: flex;
  align-items: center;
  min-height: 75px;
}

@media screen and (max-width: 1100px) {
  .notion-page-content {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
  }

  .notion-aside {
    position: relative;
    top: auto;
    max-width: 100%;
    min-width: 100%;
    width: 100%;
  }

  .notion-page-content-has-aside .notion-aside {
    display: flex;
    padding-bottom: 20px;
    border-bottom: 1px solid var(--bg-color-0);
  }

  .notion-page-content-has-aside .notion-page-content-inner {
    width: 100%;
  }

  .notion-table-of-contents > a > span {
    font-size: 18px;
  }
  .notion-aside-table-of-contents {
    padding: 0;
    margin-bottom: 24px;
  }
  .notion-aside-table-of-contents-header {
    font-size: 24px;
  }
  .notion-table-of-contents-item {
    padding: 10px 4px;
  }
}
